<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NHL Heatmap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- import d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- import plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">NHL Heatmap</span>
</nav>
  <ul>
    <li>
      <label for="team">Select Team</label>
      <br>
      <select id="team" onchange="teamUpdate(this.value)">
            <option value="all">All</option>
            <option value="Vegas Golden Knights">Vegas Golden Knights</option>
            <option value="Washington Capitals">Washington Capitals</option>
      </select>
    </li>
    <li>
      <lablel for="player">Select Player</lablel>
      <br>
      <select id="player">
      </select>
    </li>

    <li>
      <button type="button" name="button" id="update">Update</button>
    </li>
  </ul>
  <div class='center' id='rink1'></div>
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>x</th>
        <th>y</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>



  <!-- get game data -->
  <script type="text/javascript">
    var shot_data = {{ shot_data | tojson | safe }};
    var goal_data = {{ goal_data | tojson | safe }};
    var hit_data = {{ hit_data | tojson | safe }};
  </script>
  <!-- load bootstrap CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- load JS files -->
  <script src="{{ url_for('static', filename='js/table.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/rink.js') }}"></script>
</body>

</html>
