<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NHL Heatmap</title>
  <!-- import d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- import plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <ul>
    <li>
      <label for="team">Select Team</label>
      <br>
      <select id="team" onchange="teamUpdate(this.value)">
            <option value="all">All</option>
            <option value="Vegas Golden Knights">Vegas Golden Knights</option>
            <option value="Washington Capitals">Washington Capitals</option>
      </select>
    </li>
    <li>
      <lablel for="player">Select Player</lablel>
      <br>
      <select id="player">
      </select>
    </li>

    <li>
      <button type="button" name="button" id="update">Update</button>
    </li>
  </ul>

  <div class='card-body' id='rink1'>

  </div>
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>x</th>
        <th>y</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>




  <script type="text/javascript">
    var shot_data = {{ shot_data | tojson | safe }};
    var goal_data = {{ goal_data | tojson | safe }};
    var hit_data = {{ hit_data | tojson | safe }};
  </script>
  <script src="{{ url_for('static', filename='js/table.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/rink.js') }}"></script>
</body>

</html>
